
<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag 'http://fgnass.github.io/spin.js/spin.min.js' %>
<script src="https://maps.googleapis.com/maps/api/js"></script>
  <title>CandidSidewalk</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'nav' %>
  <div class="container">
    <h5 class="notice"><%= notice %></h5>  
    <%= yield %>
  </div>
  <div id="footer">
      <%= render 'footer' %>
  </div>
  </body>
</html>